.cursor-main {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99;
  mix-blend-mode: difference;
}

@media only screen and (max-width: 599px) {
  .cursor-main {
    display: none;
  }
}
